@use "variables" as *;
@use "breakpoints" as bp;

main {
    margin: 71px 24px 0;

    @include bp.up(medium) {
        margin: 64px 64 / 768 * 100%;
    }

    @include bp.up(large) {
        margin: 164px 165 / 1440 * 100%;
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp.up(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        column-gap: 1.875rem;
        row-gap: 1.5rem;
    }

    @include bp.up(large) {
        display: grid;
        grid-template-columns: repeat(4, 255 / 1110 * 100%);
        grid-template-rows: 282 / 572 * 100% 266 / 572 * 100%;
        column-gap: 1.875rem;
        row-gap: 1.5rem;
    }

    .testimonial {
        width: 100%;
        padding: 1.625rem 2rem 2rem;
        margin-bottom: 1.5rem;
        border-radius: 8px;
        box-shadow: 40px 60px 50px -47px $vdkBlackishBlueShadow;

        @include bp.up(medium) {
            margin-bottom: 0;
            height: 100%;
        }

        // sub-elements
        &__header {
            position: relative;
            padding-left: 2.8125rem;
        }

        &__thumb {
            box-sizing: content-box;
            position: absolute;
            top: 0;
            left: 0;

            width: 1.75rem;
            border-radius: 50%;
        }

        &__name {
            line-height: 1em;
            margin-top: 0;
            margin-bottom: 0.25rem;
        }

        &__verified {
            margin: 0;
            font-size: 0.6875rem;
            line-height: 1em;
            opacity: 50%;
        }

        &__title {
            margin-top: 1.125rem;
            margin-bottom: 0;
        }

        &__quote {
            margin-top: 1rem;
            margin-bottom: 0;
            opacity: 70%;
        }

        // first testimonial quote's formatting
        // somewhat different
        &:nth-child(1) {

            .testimonial__quote {
                margin-top: 2.5rem;
                width: 94%;
            }
        }

        // determine grid areas
        @include bp.up(medium) {

            &:nth-child(1) {
                grid-area: 1 / 1 / 3 / 2;

                .testimonial__quote {
                    margin-top: 1rem;
                }
            }

            &:nth-child(2) {
                grid-area: 3 / 1 / 4 / 2;
            }

            &:nth-child(3) {
                grid-area: 1 / 2 / 2 / 3;

                .testimonial__quote {
                    width: 80%;
                    margin-top: 1.5rem;
                }

            }

            &:nth-child(4) {
                grid-area: 2 / 2 / 4 / 3;

                .testimonial__title {
                    width: 95%;
                }

                .testimonial__quote {
                    width: 80%;
                    margin-top: 1.5rem;
                }
            }

            &:nth-child(5) {
                grid-area: 4 / 1 / 5 / 3;
            //    padding-bottom: 1.625rem;

                .testimonial__quote {
            //        margin-top: 1.5rem;
                }
            }
        }

        @include bp.up(large) {

            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 3;

                .testimonial__quote {
                    margin-top: 1rem;
                    width: 100%;
                }
            }

            &:nth-child(2) {
                grid-area: 1 / 3 / 1 / 4;
            }

            &:nth-child(3) {
                grid-area: 2 / 1 / 3 / 2;
                padding-bottom: 1.625rem;

                .testimonial__quote {
                    margin-top: 1.5rem;
                }

            }

            &:nth-child(4) {
                grid-area: 2 / 2 / 3 / 4;
                padding-bottom: 1.625rem;

                .testimonial__quote {
                    margin-top: 1.5rem;
                }
            }

            &:nth-child(5) {
                grid-area: 1 / 4 / 3 / 5;
                padding-bottom: 1.625rem;

                .testimonial__quote {
                    margin-top: 1.5rem;
                }
            }
        }


        // individual color schemes
        &__violet {
            background-color: $moderateViolet;
            color: white;

            .testimonial__thumb {
                left: -0.125rem;
                top: -0.125rem;
                border: 0.125rem solid rgba(255, 255, 255, 0.25);
            }

        }

        &__grayish {
            background-color: $vdkGrayishBlue;
            color: white;
        }

        &__white {
            background-color: white;
            color: $vdkGrayishBlue;
        }

        &__dark {
            background-color: $vdkBlackishBlue;
            color: white;

            .testimonial__thumb {
                left: -0.125rem;
                top: -0.125rem;
                border: 0.125rem solid $moderateViolet;
            }
        }

    }


}
