// Colors
    // Primary
    $moderateViolet: hsl(263, 55%, 52%);
    $vdkGrayishBlue: hsl(217, 19%, 35%);
    $vdkBlackishBlueShadow: hsla(217, 19%, 35%, 0.2474);
    $vdkBlackishBlue: hsl(219, 29%, 14%);
    // white

    // Neutral
    $lightGray: hsl(0, 0%, 81%);
    $lightGrayishBlue: hsl(210, 46%, 95%);